name: Pull request to snapshot

on:
  pull_request:
    types: [opened, reopened]
    branches:
      - snapshot

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      VCS_PAT: ${{secrets.PERSONAL_ACCESS_TOKEN}}
    steps:
      - run: |
          echo "REPOSITORY_OWNER=$(jq -r .repository.owner.login $GITHUB_EVENT_PATH)" >> $GITHUB_ENV
          echo "REPOSITORY_NAME=$(jq -r .repository.name $GITHUB_EVENT_PATH)" >> $GITHUB_ENV
          if test -z "$VCS_PAT"; then exit 21; fi
          mkdir -p repository
      - working-directory: repository
        run: |
          git init
          git remote add origin https://$VCS_PAT@github.com/$REPOSITORY_OWNER/$REPOSITORY_NAME.git
          git fetch --depth=1 origin $(jq -r .pull_request.head.sha $GITHUB_EVENT_PATH)
          git checkout FETCH_HEAD
          cat .github/env >> $GITHUB_ENV
      - working-directory: repository
        run: |
          docker build --no-cache \
           --build-arg REPOSITORY_OWNER=$REPOSITORY_OWNER \
           --build-arg REPOSITORY_NAME=$REPOSITORY_NAME \
           --build-arg VERSION_CI_EXTENSION=$VERSION_CI_EXTENSION \
           --build-arg VCS_PAT=$VCS_PAT \
           --build-arg GIT_BRANCH_SRC=$(jq -r .pull_request.head.ref $GITHUB_EVENT_PATH) \
           -t image.pr.snapshot:$GITHUB_RUN_NUMBER \
           -f buildSrc/src/main/resources/docker/checkout.GIT_BRANCH_SRC.docker .
      - env:
          MAVEN_SNAPSHOT_USERNAME: ${{secrets.MAVEN_SNAPSHOT_USERNAME}}
          MAVEN_SNAPSHOT_PASSWORD: ${{secrets.MAVEN_SNAPSHOT_PASSWORD}}
          TELEGRAM_BOT_ID: ${{secrets.TELEGRAM_BOT_ID}}
          TELEGRAM_BOT_TOKEN: ${{secrets.TELEGRAM_BOT_TOKEN}}
          TELEGRAM_CHAT_ID: ${{secrets.TELEGRAM_CHAT_ID}}
        run: |
          docker run --rm \
           -e VCS_PAT=$VCS_PAT \
           -e TELEGRAM_BOT_TOKEN=$TELEGRAM_BOT_TOKEN \
           -e VCS_DOMAIN=$VCS_DOMAIN \
           -e REPOSITORY_OWNER=$REPOSITORY_OWNER \
           -e REPOSITORY_NAME=$REPOSITORY_NAME \
           -e GITHUB_RUN_NUMBER=$GITHUB_RUN_NUMBER \
           -e GITHUB_RUN_ID=$GITHUB_RUN_ID \
           -e TELEGRAM_BOT_ID=$TELEGRAM_BOT_ID \
           -e TELEGRAM_CHAT_ID=$TELEGRAM_CHAT_ID \
           -e PR_NUMBER=$(jq -r .pull_request.number $GITHUB_EVENT_PATH) \
           -e LABEL_ID_STAGING=$LABEL_ID_STAGING \
           -e LABEL_ID_SNAPSHOT=$LABEL_ID_SNAPSHOT \
           -e MAVEN_GROUP_ID=$MAVEN_GROUP_ID \
           -e MAVEN_ARTIFACT_ID=$REPOSITORY_NAME \
           -e MAVEN_SNAPSHOT_USERNAME=$MAVEN_SNAPSHOT_USERNAME \
           -e MAVEN_SNAPSHOT_PASSWORD=$MAVEN_SNAPSHOT_PASSWORD \
           --name container.pr.snapshot image.pr.snapshot:$GITHUB_RUN_NUMBER \
           ex/workflow/pr/snapshot/main.sh
